.container{
    width: 100%;
    height: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
}

.search{
    flex : 1;
    max-width: 800px;
    margin: auto;
    z-index: 100;
}

/* logo */
.logo{
    /* background-color: #535bf2; */
    /* margin-top: 20px; */
    position: absolute;
    height: 40px;
    width: 100px;
    top : 20px;
    right : 20px;
    background-image: url("../../assets/icons/logo.svg");
    background-position: center;
    background-repeat:no-repeat;
    background-size:contain;
  }

  .burger{
    display: none;
  }


  .mobileSearch{
    display: none;
  }

  .mobileSidebar{
    display: none;
  }

@media (max-width: 768px) {
    .container{
        justify-content: space-between;
    }

    .search{
        width: 50%;
        /* background-color: aqua; */
        display: none;
    }

    .burger{
        display: block;
        scale: 2;
        /* padding-top : 10px; */
    }

    .logo{
        width: 60px;
    }

    .mobileSearch{
        display: block;
        /* background-color: aqua; */
        margin-top: -10px;
        padding-bottom: 20px;
        z-index: 200;
    }

    .mobileSidebar{
        display: block;
        height: 100vh;
        width: 100vw;
        position: absolute;
        top: 0;
        left: 0;
        background-color: white;
    }

    .cross{
        /* background-color: red; */
        width: 100%;
        display: flex;
        justify-content: end;
        align-items: center;
        padding: 10px;
        padding-right: 20px;
        padding-top: 20px;
    }
    

}
